@font-face {
    font-family: poppins-regular;
    src: url(./fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-medium;
    src: url(./fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(./fonts/poppins/Poppins-Light.ttf);
}