.header-container.main-header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.7548rem;
    background-image: linear-gradient(274deg, var(--clr3) 112%, var(--clr4) -12%);
    margin-bottom: .76923rem;
}

.main-header .main-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header .main-nav a {
    padding-right: 4.5rem;
}
