.meme-editor-container:not(.hidden) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 2em;
} 

.meme-editor-container .options-container {
    display: flex;
    flex-direction: column;
    gap: .6em;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 30%;
    background-color: var(--clr1);
    padding: 25px 45px;
}

.meme-editor-container .options-container .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
}

.meme-editor-container .options-container input[type=text] {
    background-color: var(--clr8);
    border: 0;
    border-radius: 1.7548rem;
    text-align: center;
    max-width: 80%;
    padding: 5px;
}

@media (max-width: 768px) {
    .meme-editor-container:not(.hidden) {
        flex-direction: column;
        margin: 0 auto;
    }

    .meme-editor-container .options-container { 
        width: 80%;
        height: 40%;
    }
}