.meme-editor-container:not(.hidden) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr1);
    gap: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
} 


.meme-editor-container .options-container {
    display: flex;
    flex-direction: column;
    gap: .6em;
    align-items: center;
    justify-content: center;
    height: 500px;
    max-width: 500px;
    min-width: 500px;
    background-color: var(--clr7);
    padding: 25px 45px;
}

.meme-editor-container .options-container .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
}

.meme-editor-container .options-container input[type=text] {
    background-color: var(--clr8);
    border: 0;
    border-radius: 1.7548rem;
    text-align: center;
    max-width: 80%;
    padding: 5px;
}

@media (max-width: 1120px) {
    .meme-editor-container .options-container,
    .meme-editor-container .canvas-container { 
        min-width: 400px;
        max-width: 400px;
        height: 400px;
    }
}

@media (max-width: 950px) {
    .meme-editor-container .options-container,
    .meme-editor-container .canvas-container { 
        max-width: 300px;
        min-width: 300px;
        height: 300px;
    }
}

@media (min-width: 750px) {
    .meme-editor-container:not(.hidden) {
        height: 80vh;
    }
}

@media (max-width: 750px) {
    .meme-editor-container:not(.hidden) {
        flex-direction: column;
        margin: 0 auto;
    }
}
