::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #22252C;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(274deg, var(--clr3) 108%, var(--clr4) -8%);
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(274deg, #2DAB62 108%, #0A88A6 -8%);
}

::-webkit-scrollbar-thumb:active {
    background-image: linear-gradient(274deg, #289857 108%, #097994 -8%);
}