* {
    box-sizing: border-box;
}

html {
    font-size: 1.3rem;
    font-family: poppins-medium;
}

body {
    margin: 0;
    background: rgb(45,171,98);
    background: radial-gradient(circle, rgba(45,171,98,1) 7%, rgba(10,136,166,1) 100%);
}

img {
    width: 100%;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--clr2);
}

.btn-container > * {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    font-size: 1em;
    line-height: 1;
    cursor: pointer;
    background-color: white;
    color: var(--clr7);
    font-family: poppins-bold;
}

.hidden {
    display: none;
}