* {
    box-sizing: border-box;
}

html {
    font-size: 1.3rem;
    font-family: poppins-medium;
}

body {
    margin: 0;
    margin-bottom: .76923rem;
    background: rgb(45,171,98);
    background: radial-gradient(circle, rgba(45,171,98,1) 7%, rgba(10,136,166,1) 100%);
}

img {
    width: 100%;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--clr2);
}

.hidden {
    display: none;
}